@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    background-color: #9e0059;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;

}
.container{
    height: 130px;
    background-color: #fff;
    padding: 40px  50px;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    transition: height 0.2s ease;
}
.container.active{
    height: 330px;
}


header h1{
    font-size: 21px;
    text-align: center;
    margin-top: 5px;
}
header p{
    font-size: 15px;
    font-weight: 500;
    text-align: center;
}
.form{
   display: grid;
   place-items: center;
   gap:10px
    
}
.form input{
    padding: 5px;
    width: 90%;
    font-size: 15px;
    border-radius: 3px;
    border: 1px solid grey;
    outline: none;
    
}
.form button{
    background-color: #9e0059;
color: #fff;
font-weight: 700;
padding:10px 0;
width: 100%;
border: none;
border-radius: 5px;
cursor: pointer;

}
.qr-code{
    border: 1px solid #edf6f9;
    margin-top: 20px;
    text-align: center;
    opacity: 0;
    pointer-events: none;
   
}
.qr-code img{
    width: 150px;
   
}
.container.active .qr-code{
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.5s 0.5s ease;
}
